* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Inter', serif;
    font-weight: 400;
    color: #333333;
    font-size: 15px;
    line-height: 32px;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.menu-items {
    border-radius: 25px;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid black;
}
.menu-items a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    
}
.shape {
    position: fixed;
    width: 22%;
    z-index: -1;
}
.shape-dome {
    left: 5%;
    top: 5%;
}
.shape-cylinder {
    right: 33%;
    bottom: 5%;
}
.shape-tetra {
    right: 5%;
    bottom: 50%;
}
.center-container {
    display: flex;
    justify-content: center;
}
.content-container {
    display: block;
    width: 100%;
    margin: 30px 16px 16px 16px;
    padding: 32px;
    height: fit-content;
}
.content-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 300px;
}
.social-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.icons-container {
    height: 60%;
    /* background-color: blueviolet; */
    padding: 10px;
    border-radius: 50%;
    margin-left: 25px;
    border: 1px solid black;
    transition: .5s;
}
.icons-container svg {
    margin-bottom: 2px;
    height: 50px;
    padding: 3px;
}
.blue-border {
    border: 1px solid #447EEE;
}
.green-border {
    border: 1px solid #B8F5EC;
}
.red-border {
    border: 1px solid #E32659;
}
.on-hover-blue:hover{
    fill: rgb(255, 255, 255);
    border: 1px solid #FFFFFF;
    background-color: #447EEE;
}
.on-hover-green:hover {
    fill: rgb(255, 255, 255);
    border: 1px solid #FFFFFF;
    background-color: #B8F5EC;
}
.on-hover-red:hover {
    fill: rgb(255, 255, 255);
    border: 1px solid #FFFFFF;
    background-color: #E32659;
}