.main-container {
    margin: 0px;
    height: 100vh;
    position: relative;
    background-image: url(./img/main.1fd4535d.gif);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgb(63 68 68 / 48%);
    text-align: center;
}

.nav-bar {
  margin: 0;
  width: 100%;
  height: 5%;
  background-color: #3f4444;
}

.nav-bar img li{
  margin: 0;
  padding: 0;
  
}

.nav-bar img {
  width: 10%;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-text, .sec-text{
    text-align: center;
    margin: 0;
    margin-bottom: 2%;
    color: #FFFF;
    font-family: -apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}


.main-text {
    width: 16ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
}

.sec-text {
    animation-play-state: paused;
}
